.vh-100 {
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.btlog {
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    width: 40%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
.btlog:hover {
    background: linear-gradient(-135deg, #4158d0 , #c850c0 );
}
.imglogo {
    width: 20%;
    height: 20%;
    margin-bottom: 40px;
}
.form-label {
    font-size: 18px;
}
