<section
  class="vh-100"
  style="background-color: linear-gradient(-135deg, #c850c0, #4158d0)"
>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-8">
        <div class="card cart" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="d-flex mr-auto align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form #loginForm="ngForm">
                  <div class="text-center">
                    <i
                      class="fas fa-cubes fa-2x me-3"
                      style="color: #ff6219"
                    ></i>
                    <img
                      src="./assets/images/logo.png"
                      alt="Logo"
                      class="imglogo img-fluid"
                    />
                  </div>
                  <h1>Regista-te</h1>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17"
                      >Nome do usuário</label
                    >
                    <input
                      type="name"
                      id="form2Example17"
                      class="form-control form-control-lg"
                      placeholder="Insira seu nome"
                      required
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17">Email</label>
                    <input
                      type="email"
                      id="form2Example17"
                      class="form-control form-control-lg"
                      placeholder="Insira seu e-mail"
                      required
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example27"
                      >Password</label
                    >
                    <input
                      type="password"
                      id="form2Example27"
                      class="form-control form-control-lg"
                      placeholder="Palavra passe nova"
                      required
                    />
                  </div>

                  <div class="pt-1 mb-4 text-center">
                    <button
                      routerLink="/perfil"
                      class="btlog btn btn-lg btn-block"
                      type="button"
                    >
                      Regista-te
                    </button>
                    <button
                      routerLink="/login"
                      class="btlog btn btn-lg btn-block"
                      type="button"
                    >
                      Sair
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
