<section
  class="vh-100"
  style="background-color: linear-gradient(-135deg, #c850c0, #4158d0)"
>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-8">
        <div class="card cart" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="d-flex mr-auto align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form #form="ngForm">
                  <div class="text-center">
                    <i
                      class="fas fa-cubes fa-2x me-3"
                      style="color: #ff6219"
                    ></i>
                    <img
                      src="./assets/images/logo.png"
                      alt="Logo"
                      class="imglogo img-fluid"
                    />
                  </div>
                  <h1>Regista-te</h1>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17"
                      >Nome do usuário</label
                    >
                    <input
                      type="name"
                      id="form1"
                      class="form-control form-control-lg"
                      placeholder="Insira seu nome"
                      [(ngModel)]="newUsers.username"
                      name="username"
                      pattern="[a-zA-Z ]*.{4,}"
                      #name="ngModel"
                      required
                    />
                    <div *ngIf="name.invalid && name.touched" class="error-message">
                      O campo de nome é obrigatório, no mínimo 4 caracteres
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2">Email</label>
                    <input
                      type="email"
                      id="form2"
                      class="form-control form-control-lg"
                      placeholder="Insira seu e-mail"
                      [(ngModel)]="newUsers.email"
                      name="email"
                      pattern="[a-z0-9]{1,}@[a-z]{1,}.[a-z]{2,}" 
                      #email="ngModel"
                      required
                    />
                    <div *ngIf="email.invalid && email.touched" class="error-message">
                      Por favor, insira um e-mail válido. Ex: exemplo@exemplo.com
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3"
                      >Password</label
                    >
                    <input
                      type="password"
                      id="form3"
                      class="form-control form-control-lg"
                      placeholder="Palavra passe nova"
                      [(ngModel)]="newUsers.password"
                      name="password"
                      pattern=".{4,}" 
                      #password="ngModel"
                      required
                    />
                    <div *ngIf="password.invalid && password.touched" class="error-message">
                      A senha deve ter no mínimo 4 caracteres
                    </div>
                  </div>

                  <div class="pt-1 mb-4 text-center">
                    <button
                      (click)="register()"
                      class="btlog btn btn-lg btn-block"
                      type="submit"
                      [disabled]="!form.valid"
                    >
                      Regista-te
                    </button>
                    <button
                      routerLink="/login"
                      class="btlog btn btn-lg btn-block"
                      type="submit"
                    >
                      Sair
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
