.vh-100 {
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.btlog {
    background: #4158d0;
    width: 30%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin: 15px 30px;
}